page-home {



.getstart {
    position: relative;
    background: url('../assets/imgs/image.jpg');
    background-size: cover;
    height: 100%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 50s linear infinite;
    }

    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
      }

 
// .scroll-content {
//     overflow: hidden;
// }
}